.own-message {
  display: flex;
  align-items: center;
  align-self: flex-end;
  max-width: 70%;
  margin-bottom: 16px;
}

.own-message .message-time {
  color: rgba(255, 255, 255, .6);
}

.own-message-svg-appendix .corner {
  fill: #8378db;
}

.own-message-svg-appendix {
  position: absolute;
  right: -9px;
  bottom: 0;
  height: 17px;
}

.own-message-wrapper {
  border-radius: 12px 12px 0 12px;
  background-color: #8378db;
  padding: 8px;
  position: relative;
}

.own-message-actions {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.message-edit,
.message-delete {
  cursor: pointer;
  color: #545454;
  padding: 2px 4px;
  font-size: 14px;
  transition: color .3s ease-in-out;
}

.message-edit:hover,
.message-delete:hover {
  color: #aaaaaa;
}