.chat {
  display: grid;
  height: 100vh;
  grid-auto-rows: max-content auto max-content;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  border-left: 3px solid #212121;
  border-right: 3px solid #212121;
  position: relative;
}