.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding: 20px;
}

.message-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

.message-list::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: transparent;
}

.message-list:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.messages-divider {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 20px 0;
}

.messages-divider::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

.messages-divider span {
  background-color: #0f0f0f;
  position: relative;
  z-index: 100;
  padding: 0 20px;
}