.header {
  background-color: #212121;
  padding: 8px 24px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 0 20px;
}

.header-title {
  grid-column: 1 / 4;
  font-weight: 500;
}

.header-info {
  font-size: 14px;
  color: #aaa;
  font-weight: 500;
}
