.edit-message-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .3);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.edit-message-modal.modal-shown {
  display: flex;
}

.edit-message-container {
  padding: 20px;
  background-color: #0f0f0f;
  box-shadow: 0 4px 8px 2px rgba(16, 16, 16, .61);
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.edit-message-title {
  margin-bottom: 10px;
}

.edit-message-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-message-button,
.edit-message-close {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  line-height: 1.4;
}

.edit-message-button:hover,
.edit-message-close:hover {
  color: #fff;
  background-color: #8378db;
}

.edit-message-close {
  margin-right: 20px;
  border: 2px solid #212121;
  background: none;
}

.edit-message-close:hover {
  box-shadow: 0 0 4px 0 rgb(255, 255, 255, .5);
  border-color: #8378db;
  background: none;
}