.message {
  display: flex;
  align-items: flex-end;
  max-width: 70%;
  margin-bottom: 16px;
}

.message-wrapper {
  border-radius: 12px 12px 12px 0;
  background-color: #212121;
  padding: 8px;
  position: relative;
}

.message-user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-user-name {
  color: #7bc862;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.message-time {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  color: rgba(104, 108, 114, .75);
  margin-top: 4px;
}

.message-liking {
  align-self: center;
}

.message-like,
.message-liked {
  cursor: pointer;
  transition: color .3s ease-in-out;
  padding: 8px;
}

.message-like {
  color: #545454;
}

.message-like:hover {
  color: #7c7c7c;
}

.message-liked {
  color: #f00;
}

.message-svg-appendix {
  position: absolute;
  left: -9px;
  bottom: 0;
  height: 17px;
}

.message-svg-appendix .corner {
  fill: #212121;
}